@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:wght@400;500&family=Nobile:wght@400;500;700&display=swap');

*:root {
  --color-primary: #6ce5b1;
  --color-secondary: #f3eeea;
  --color-accent: #ed8299;
  --color-highlight: #5e54c9;
  --color-inverted: #031926;
  --color-inverted-muted: #4d4d4d;
  --color-neutral: #ffffff;
  --color-neutral-muted: #fbf7f3;
  --color-code-1: #5e54c9;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
}

.btn:hover {
  transform: translate(0, -5px);
  transition: 0.2s ease-in-out;
  box-shadow: 0 12px 6px -6px silver;
}

a {
  text-decoration: none;
}

p {
  display: block;
}

/* mobile navbar */
.mobile-menu-container {
  background-color: #1f1f1f;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

.mobile-menu {
  display: block;
}

nav.mobile-menu ul {
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 100;
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0.2em 0;
}

nav.mobile-menu ul li {
  margin: 15px 0;
  text-align: right;
}

nav.mobile-menu ul li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

nav.mobile-menu .menu-button-black {
  background-color: #1f1f1f;
  border: 0;
  border-radius: 50%;
  padding: 0;
  outline: none;
  height: 57px;
  width: 57px;
  text-align: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
}

.line {
  background-color: #fff;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-container.open .circle {
  transform: translateX(50px) scale(9);
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-bottom {
  transform: translateY(-3px) rotate(-225deg);
  transform-origin: center;
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-top {
  transform: translateY(3px) rotate(225deg);
  transform-origin: center;
}

.mobile-menu-container .circle {
  background-color: #1f1f1f;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  z-index: 99;
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
  text-align: right;
}

.mobile-menu-container.open .mobile-menu ul {
  visibility: visible;
  transform: translateY(0);
}

.mobile-menu-container.open nav.mobile-menu ul li a {
  opacity: 1;
}

/* header */
.header {
  background: var(--color-neutral);
}

.intro {
  background-color: var(--color-secondary);
}

.mac-img-wrapper {
  display: none;
}

.intro-container {
  display: block;
  text-align: center;
}

.intro-text {
  padding: 5rem 0;
}

.intro-text h1 {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
  transform: rotate(-5deg);
  transform-origin: bottom left;
}

.intro-text h3 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Dancing Script', cursive;
  margin-top: 0;
  margin-bottom: 1rem;
}

.intro-text p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  line-height: 2rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.btn-primary {
  /* background: #af91db; */
  background-color: var(--color-primary);
  color: var(--color-inverted);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* black lives matter banner */
.banner {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.highlight {
  text-decoration: none;
  color: var(--color-primary);
}

.highlight:hover {
  text-decoration: underline;
}

.banner-text {
  color: var(--color-neutral);
  font-weight: 600;
}

.hand-svg {
  margin-left: 0.25rem;
}

/* desktop navbar */
.desktop-navbar {
  display: none;
}

/* projects slideshow using flickity */
.projects-dt {
  display: none;
}

.projects-container {
  text-align: center;
  margin: 5rem auto 0 auto;
}

.main-carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  max-height: 500px;
  max-width: 375px;
}

.projects-header {
  margin: 3rem auto;
}

.projects-title {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.carousel-cell {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  counter-increment: gallery-cell;
  border-radius: 1.25rem;
  min-height: 400px;
  min-width: 275px;
}

.cell-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  min-height: 400px;
}

.project-1 {
  background-color: #dd62ff;
}

.project-2 {
  background-color: #f1c63c;
}

.project-img {
  border-radius: 1.25rem;
}

.project-des-container {
  margin: 1rem;
}

.project-des-wrapper {
  background-color: var(--color-neutral);
  border-radius: 1.25rem;
  padding: 1rem;
}

.project-des-title {
  font-size: 1.875rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-des-text {
  color: var(--color-inverted-muted);
}

.btn-project {
  background-color: black;
  color: white;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

.github-svg {
  margin: 0 0.5rem;
}

.projects-button {
  margin: 1rem auto;
}

.other-projects-button {
  color: var(--color-inverted);
  margin: 1rem auto;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.right-arrow {
  position: relative;
  top: 0.15rem;
}

/* services offered section */
.services {
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.services-section-header {
  text-align: center;
}

.services-section-header-title {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.services-card-wrapper {
  display: grid;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.services-card-each {
  display: flex;
}

.services-card-svg-wrapper {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.services-card-svg-bg {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.25rem;
  background-color: var(--color-neutral-muted);
  height: 4rem;
  width: 4rem;
}

.services-card-text-wrapper {
  display: block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
}

.services-card-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.services-card-text {
  margin-bottom: 1rem;
}

.findout-more-button {
  display: inline-block;
  margin: 0.5rem 0;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-inverted);
  cursor: pointer;
}

/* dev intro */
.dev-intro-wrap {
  max-width: 64rem;
  margin: 2rem auto;
}

.dev-intro-content {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-secondary);
  margin: auto;
}

.dev-intro-img-wrap {
  max-width: 22rem;
}

.dev-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  transition: opacity 0.5s ease-in-out;
}

.dev-intro-des-wrap {
  padding: 1.5rem 1rem;
}

.dev-intro-des {
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  margin-top: -5rem;
  border-radius: 1.25rem;
  background-color: var(--color-neutral);
}

.dev-intro-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.dev-intro-des-text-wrap {
  margin-bottom: 1rem;
}

.btn-inverted {
  background-color: var(--color-inverted);
  color: var(--color-neutral);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* know more section */
.know-more-cont {
  max-width: 64rem;
  margin: 4rem auto;
}

.know-more-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-primary);
}

.know-more-img-cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;
}

.know-more-img {
  display: block;
  border-radius: 1.25rem;
  margin-top: 1.5rem;
}

.know-more-des-cont {
  padding: 1rem 2rem;
  max-width: 42rem;
  text-align: center;
}

.know-more-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 0;
}

/* footer */
.footer {
  background-color: var(--color-neutral);
}

.footer-container {
  padding-top: 2rem;
}

.footer-img-content {
  margin-bottom: 0.5rem;
  display: flex;
}

.footer-profile-img {
  border-radius: 50%;
  transition: opacity 0.5s ease-in-out;
}

.footer-text-content {
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.footer-text-content p {
  margin: 0;
}

.footer-text-wrapper {
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin-bottom: auto;
}

.footer-text-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;
}

.footer-text-content {
  max-width: 28rem;
  margin: 0;
}

.footer-text-content p a {
  color: var(--color-accent);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.social-media-container {
  margin: 1rem -1rem;
  text-align: center;
}

.social-media-wrapper {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-media-wrapper a {
  padding: 0.25rem;
  margin-right: 1rem;
}

.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-top: var(--color-secondary) solid 2px;
}

.copyright p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

@media (min-width: 320px) {
  .intro-text p {
    font-size: 1.875rem;
    line-height: 2rem;
  }
}

/* responsive for desktop layouts */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .intro-text p {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  .banner-text {
    font-size: 1rem;
  }

  .services-section-header-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
  }

  .projects-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* projects slideshow using flickity */
  .projects {
    display: none;
  }

  .projects-dt {
    display: block;
  }

  .projects-ct-dt {
    text-align: center;
  }

  .projects-header h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .projects-carousel-dt {
    margin: 4rem auto;
  }

  .project-cell-dt {
    max-width: 64rem;
    margin: 4rem auto;
  }

  .project-img-cr-dt {
    max-width: 22rem;
  }

  .project-img-dt {
    max-width: 22rem;
    border-radius: 1.25rem;
  }

  .project-cell-wp-dt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    gap: 3rem;
    border-radius: 1.25rem;
    padding: 1rem;
  }

  .project-des-container {
    margin: 1rem;
  }

  .project-des-wp-dt {
    background-color: var(--color-neutral);
    border-radius: 1.25rem;
    text-align: left;
    padding: 2rem;
  }

  .project-des-wp-dt h2 {
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0;
  }

  .project-des-wp-dt p {
    min-width: 20rem;
    max-width: 20rem;
  }

  .flex-order {
    order: 10000;
  }

  /* dev intro */
  .dev-intro-wrap {
    max-width: 64rem;
    margin: 2rem auto;
  }

  .dev-img {
    border-radius: 1.25rem;
  }

  .dev-intro-content {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .dev-intro-des {
    position: static;
    padding: 2rem;
    margin-top: 0;
    text-align: left;
    max-width: 22rem;
  }

  .dev-intro-name {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  /* know more section */
  .know-more-cont {
    max-width: 64rem;
    margin: 4rem auto;
  }

  .know-more-wrap {
    flex: 1 1;
    flex-wrap: nowrap;
  }

  .know-more-img-cont {
    order: 9999;
    margin-right: 0;
    margin-left: 0;
  }

  .know-more-img-wrap {
    margin: 0;
  }

  .know-more-img {
    max-width: 32rem;
    border-radius: 1.25rem;
    margin-top: 0;
  }

  .know-more-des-cont {
    padding: 3rem 1.5rem;
    text-align: left;
    max-width: 28rem;
  }

  .know-more-title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .intro {
    background-color: var(--color-primary);
    background-image: -webkit-linear-gradient(
      -180deg,
      var(--color-secondary) 65%,
      var(--color-primary) 35%
    );
  }

  .intro-container {
    display: flex;
    text-align: center;
    gap: 5rem;
  }

  .mac-img-wrapper {
    display: block;
    margin-top: -5rem;
  }

  .mac-svg {
    display: block;
    height: 100vh;
  }

  .intro-text {
    margin-top: 7.5%;
  }

  .intro-text h1 {
    font-size: 2.25rem;
    transform: rotate(-5deg);
  }

  .intro-text h3 {
    font-size: 2rem;
  }

  .intro-text p {
    font-size: 2.75rem;
    line-height: 3.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
  }

  .project-cell-wp-dt {
    gap: 6rem;
  }

  .project-des-wp-dt p {
    min-width: 28rem;
    max-width: 28rem;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dev-intro-des {
    max-width: 42rem;
  }

  .know-more-img-cont {
    margin-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .know-more-des-cont {
    padding: 3rem;
    max-width: 42rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .intro-container {
    gap: 4rem;
  }

  .carousel-cell {
    min-width: 64rem;
  }

  .mobile-menu-container {
    display: none;
  }

  .services {
    margin-bottom: 5rem;
  }

  /* desktop navbar */
  .desktop-navbar {
    display: block;
    background-color: var(--color-primary);
    background-image: -webkit-linear-gradient(
      -180deg,
      var(--color-secondary) 65%,
      var(--color-primary) 35%
    );
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
  }

  .desktop-credential-text {
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    position: relative;
    top: 0.5rem;
    display: inline-block;
    cursor: pointer;
  }

  .quick-links {
    text-decoration: none;
    color: var(--color-inverted);
    padding: 0.75rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
  }

  .quick-links:hover {
    background-color: var(--color-neutral);
  }

  .btn-secondary {
    color: var(--color-accent);
    background-color: var(--color-neutral);
  }
}
