*:root {
  --color-primary: #6ce5b1;
  --color-secondary: #f3eeea;
  --color-accent: #ed8299;
  --color-highlight: #5e54c9;
  --color-inverted: #031926;
  --color-inverted-muted: #4d4d4d;
  --color-neutral: #ffffff;
  --color-neutral-muted: #fbf7f3;
  --color-code-1: #5e54c9;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
  transition: 200ms ease-in-out;
}

.btn-muted {
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
  display: inline-block;
  margin: 1rem auto;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-inverted);
  cursor: pointer;
}

.underline-effect:hover::after {
  border-color: var(--color-primary);
  top: 1.75rem;
  right: 0;
}

.underline-effect::after {
  border-top: 0.25rem solid var(--color-primary);
  content: "";
  position: absolute;
  right: 100%;
  top: 1.75rem;
  bottom: 0;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

.btn:hover {
  transform: translate(0, -5px);
  box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.12);
}

a {
  text-decoration: none;
}

p {
  display: block;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* COVID-19 banner */
/* .banner {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.banner-text {
  color: var(--color-neutral);
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.banner-container a {
  cursor: pointer;
  color: var(--color-primary);
  margin-left: 0.5rem;
}

.banner-container a:hover {
  text-decoration: underline;
} */

/* mobile menubar */
.mobile-menu-container {
  background-color: var(--color-inverted);
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

.mobile-menu {
  display: block;
}

nav.mobile-menu ul {
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 100;
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0.2em 0;
}

nav.mobile-menu ul li {
  margin: 15px 0;
  text-align: right;
}

nav.mobile-menu ul li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

nav.mobile-menu .menu-button-black {
  background-color: #1f1f1f;
  border: 0;
  border-radius: 50%;
  padding: 0;
  outline: none;
  height: 57px;
  width: 57px;
  text-align: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
}

.line {
  background-color: var(--color-neutral);
  display: block;
  margin: 4px auto;
  height: 3px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-container.open .circle {
  transform: translateX(50px) scale(9);
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-bottom {
  transform: translateY(-3px) rotate(-225deg);
  transform-origin: center;
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-top {
  transform: translateY(3px) rotate(225deg);
  transform-origin: center;
}

.mobile-menu-container .circle {
  background-color: #1f1f1f;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  z-index: 99;
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
  text-align: right;
}

.mobile-menu-container.open .mobile-menu ul {
  visibility: visible;
  transform: translateY(0);
}

.mobile-menu-container.open nav.mobile-menu ul li a {
  opacity: 1;
}

/* header */
.header {
  background-color: var(--color-neutral);
}

.mobile-nav-brand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-inverted);
  text-align: center;
  padding: 2rem auto;
}

.intro-brand {
  color: var(--color-primary);
  font-size: 2.25rem;
  font-weight: 900;
}

/* hero section */
.hero-container {
  text-align: center;
  margin: 3rem auto 2rem auto;
}

.hero-img {
  display: inline-block;
  max-width: 20%;
  height: auto;
}

.hero-container p {
  max-width: 65ch;
  -webkit-font-smoothing: antialiased;
  margin: 1rem auto;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.hero-container h1 {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--color-inverted);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-inverted);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* desktop navbar */
.desktop-navbar {
  display: none;
}

/* Projects section */
.projects-section {
  margin-bottom: 4rem;
}

.projects-main-container {
  padding-top: 2rem;
}

.projects-header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.projects-header h1 {
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-img-wrapper {
  position: relative;
}

.project-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  --tw-border-opacity: 1;
  border-color: rgba(243, 238, 234, var(--tw-border-opacity));
  border-style: dashed;
}

.project h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.project a {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.project a:hover {
  text-decoration: underline;
}

/* services offered section */
.services-container {
  margin: 2rem auto 4rem auto;
  text-align: center;
  padding-top: 1rem;
}

.services-section-header {
  margin: 1rem auto 0 auto;
  text-align: center;
}

.services-section-header h1 {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.services-card-wrapper {
  display: grid;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.services-card-each {
  display: flex;
}

.services-card-svg-wrapper {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.services-card-svg-bg {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.25rem;
  background-color: var(--color-neutral-muted);
  height: 4rem;
  width: 4rem;
}

.services-card-text-wrapper {
  display: block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
}

.services-card-text-wrapper h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.services-card-text-wrapper p {
  margin-bottom: 1rem;
}

.tip-cancel-button {
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.tip-content {
  display: flex;
  max-width: 400px;
  padding-top: 1rem;
  border-left: 6px solid var(--color-primary);
  border-radius: 6px;
}

.tip-svg-container {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.tip-svg-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.25rem;
  background-color: var(--color-neutral-muted);
  height: 4rem;
  width: 4rem;
}

.tip-text-container {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
}

/* dev intro */
.dev-intro-wrap {
  max-width: 64rem;
  margin: 2rem auto;
  padding-top: 2rem;
}

.dev-intro-content {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-secondary);
  margin: auto;
}

.dev-intro-img-wrap {
  max-width: 22rem;
}

.dev-intro-img {
  overflow: hidden;
}

.dev-img {
  transition: opacity 0.5s ease-in-out;
}

.dev-intro-des-wrap {
  padding: 1.5rem 1rem;
}

.dev-intro-des {
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  margin-top: -5rem;
  border-radius: 1.25rem;
  background-color: var(--color-neutral);
}

.dev-intro-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.875rem;
}

.dev-intro-des-text-wrap {
  margin-bottom: 1rem;
}

.dev-second-child {
  margin-bottom: 1rem;
}

.btn-inverted {
  background-color: var(--color-inverted);
  color: var(--color-neutral);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* know more section */
.know-more-cont {
  max-width: 64rem;
  margin: 5rem auto;
}

.know-more-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-primary);
}

.know-more-img-cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;
}

.know-more-img {
  display: block;
  border-radius: 1.25rem;
  margin-top: 1.5rem;
}

.know-more-des-cont {
  padding: 1rem 2rem;
  max-width: 42rem;
  text-align: center;
}

.know-more-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 0;
}

.know-more-des-p {
  margin-bottom: 0.75rem;
}

/* Contact header */
.contact-form-container {
  margin-top: 3rem auto;
}

.contact-form-title {
  margin: 1.5rem auto 0.5rem auto;
  text-align: center;
  padding: 1rem 0.5rem;
}

.contact-form-title h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

/* contact form */
.contact-form {
  margin: 0 auto;
}

.contact-form-description p {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem auto;
  padding: 0 1rem;
  max-width: 48rem;
}

.contact-form-description :first-child {
  margin-bottom: 1rem;
}

.contact-form-description :last-child {
  margin-bottom: 2rem;
}

.form-bg {
  background-color: var(--color-secondary);
}

.form-img-wrapper {
  display: none;
}

.form-wrapper {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-control {
  width: 100%;
}

.form-control label {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
}

.form-control label span {
  color: red;
}

.form-control input,
.form-control textarea {
  display: block;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #ccc;
}

.form-control textarea {
  height: 200px;
  overflow: auto;
}

.btn-submit {
  display: block;
  border-radius: 0.25rem;
  background: var(--color-primary);
  color: var(--color-inverted);
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  font-weight: 600;
  outline: none;
  border: none;
}

.icon {
  display: inline-block;
}

.btn-submit span {
  margin-left: 2px;
}

/* footer */
.footer-text img {
  max-width: 20%;
  margin-bottom: 1rem;
}

.footer-text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.footer-text p {
  margin-bottom: 1rem;
}

.current-status {
  color: var(--color-accent);
}

.current-status:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-media-wrapper {
  display: flex;
  gap: 0.5rem;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-top: var(--color-secondary) solid 2px;
}

.copyright p {
  font-size: 0.875rem;
}

/* responsive for desktop layouts */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  /* .banner-container {
    font-size: 1rem;
  } */

  /* hero section */
  .hero-container h1 {
    font-size: 3rem;
    line-height: 1;
  }

  /* Projects section */
  .projects-header h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 4rem;
  }

  .projects-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .project {
    transition: 300ms;
  }

  .project:hover {
    transform: translateY(-10px);
  }

  /* Services section */
  .services-section-header h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 4rem;
  }

  .contact-form-title h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .hero-container h1 {
    margin-bottom: 2.5rem;
    font-size: 4.25rem;
    line-height: 1;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .projects-main-container {
    padding-top: 2rem;
  }

  .services-container {
    margin: 2rem auto;
    padding-top: 2rem;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .findout-more-button {
    margin: 2rem auto;
  }

  /* dev intro */
  .dev-intro-wrap {
    max-width: 64rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .dev-intro-content {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .dev-intro-img-wrap {
    padding-left: 1rem;
  }

  .dev-intro-img {
    overflow: hidden;
  }

  .dev-intro-des {
    padding: 2rem;
    margin-top: 0;
    text-align: left;
    max-width: 22rem;
  }

  .dev-intro-name {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }

  /* know more section */
  .know-more-cont {
    max-width: 64rem;
    margin: 7.5rem auto;
  }

  .know-more-wrap {
    flex: 1 1;
    flex-wrap: nowrap;
  }

  .know-more-img-cont {
    order: 9999;
    margin-right: 0;
    margin-left: 0;
  }

  .know-more-img-wrap {
    margin: 0;
  }

  .know-more-img {
    max-width: 32rem;
    border-radius: 1.25rem;
    margin-top: 0;
  }

  .know-more-des-cont {
    padding: 3rem 1.5rem;
    text-align: left;
    max-width: 28rem;
  }

  .know-more-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-form-title h1 {
    font-size: 3rem;
  }

  .services-end {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .footer-text {
    max-width: 28rem;
  }

  .footer-contact {
    max-width: 28rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .hero-container {
    width: 75%;
    text-align: center;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* Projects section */
  .projects-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .project h2 {
    margin-bottom: 0.5rem;
  }

  .project p {
    margin-bottom: 0.5rem;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dev-intro-des {
    max-width: 42rem;
  }

  .know-more-img-cont {
    margin-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .know-more-des-cont {
    padding: 3rem;
    max-width: 42rem;
  }

  /* form section */
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 6rem;
  }

  .form-img-wrapper {
    display: block;
    align-self: center;
    justify-self: center;
  }

  .form-svg {
    max-width: 80%;
    height: auto;
  }

  .form-wrapper {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
    justify-self: start;
  }

  .form-control input,
  .form-control textarea {
    width: 350px;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .hero-container {
    width: 66.666667%;
    margin-top: 3rem;
  }

  .hero-container p {
    font-size: 1.875rem;
  }

  .mobile-menu-container {
    display: none;
  }

  .card-container {
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .services {
    margin-bottom: 1rem;
  }

  .form-container {
    grid-column-gap: 2rem;
  }

  /* desktop navbar */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .desktop-navbar {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-neutral);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
  }

  .nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-brand img {
    display: inline-block;
    position: relative;
    top: 0.125rem;
  }

  .nav-brand-text {
    display: inline-block;
    color: var(--color-inverted);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--color-inverted);
    padding: 0.75rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
  }

  .nav-links a:hover {
    background-color: var(--color-neutral-muted);
  }

  .btn-secondary {
    background-color: var(--color-neutral-muted);
  }

  .contact-container {
    width: 75%;
  }
}
