@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

*:root {
  --color-primary: #6ce5b1;
  --color-secondary: #f3eeea;
  --color-accent: #ed8299;
  --color-highlight: #5e54c9;
  --color-inverted: #031926;
  --color-inverted-muted: #4d4d4d;
  --color-neutral: #ffffff;
  --color-neutral-muted: #fbf7f3;
  --color-code-1: #5e54c9;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

ol,
p,
ul {
  margin-bottom: 1rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
}

.btn:hover {
  transform: translate(0, -5px);
  transition: 0.2s ease-in-out;
  box-shadow: 0 12px 6px -6px silver;
}

a {
  text-decoration: none;
}

p {
  display: block;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* black lives matter banner */
.banner {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.highlight {
  text-decoration: none;
  color: var(--color-primary);
}

.highlight:hover {
  text-decoration: underline;
}

.banner-text {
  color: var(--color-neutral);
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.hand-svg {
  margin-left: 0.25rem;
}

/* mobile navbar */
.mobile-menu-container {
  background-color: #1f1f1f;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

.mobile-menu {
  display: block;
}

nav.mobile-menu ul {
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 100;
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0.2em 0;
}

nav.mobile-menu ul li {
  margin: 15px 0;
  text-align: right;
}

nav.mobile-menu ul li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

nav.mobile-menu .menu-button-black {
  background-color: #1f1f1f;
  border: 0;
  border-radius: 50%;
  padding: 0;
  outline: none;
  height: 57px;
  width: 57px;
  text-align: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
}

.line {
  background-color: #fff;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-container.open .circle {
  transform: translateX(50px) scale(9);
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-bottom {
  transform: translateY(-3px) rotate(-225deg);
  transform-origin: center;
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-top {
  transform: translateY(3px) rotate(225deg);
  transform-origin: center;
}

.mobile-menu-container .circle {
  background-color: #1f1f1f;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  z-index: 99;
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
  text-align: right;
}

.mobile-menu-container.open .mobile-menu ul {
  visibility: visible;
  transform: translateY(0);
}

.mobile-menu-container.open nav.mobile-menu ul li a {
  opacity: 1;
}

/* header */
.header {
  background-color: var(--color-neutral);
}

.mobile-nav-brand {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-inverted);
  text-align: center;
  padding: 2rem auto;
}

.intro-brand {
  color: var(--color-primary);
  font-family: "Dancing Script", cursive;
  font-size: 2.25rem;
  font-weight: 900;
}

.intro-container {
  text-align: center;
  margin: 5rem auto 5rem auto;
}

.intro-container p {
  max-width: 65ch;
  -webkit-font-smoothing: antialiased;
  margin: 1rem auto;
  font-family: "Dancing Script", cursive;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
}

.intro-container h1 {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-inverted);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* desktop navbar */
.desktop-navbar {
  display: none;
}

/* Work section */
.work-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.work-section-title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

.work-end {
  text-align: center;
  margin: 2rem auto 1rem auto;
}

.flip {
  position: relative;
  width: 100%;
}

.work-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 1rem;
}

.flip:hover .overlay {
  height: 100%;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.text p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.text a {
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
}

.text a {
  color: var(--color-neutral);
  background-color: var(--color-inverted);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.view-more-button {
  display: inline-block;
  margin: 1rem auto;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-inverted);
  cursor: pointer;
}

.right-arrow {
  position: relative;
  top: 0.2rem;
}

/* services offered section */
.services {
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.services-container {
  margin: 5rem auto 2.5rem auto;
  text-align: center;
}

.services-section-header {
  margin: 5rem auto 0 auto;
  text-align: center;
}

.services-section-header-title {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.services-card-wrapper {
  display: grid;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.services-card-each {
  display: flex;
}

.services-card-svg-wrapper {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.services-card-svg-bg {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.25rem;
  background-color: var(--color-neutral-muted);
  height: 4rem;
  width: 4rem;
}

.services-card-text-wrapper {
  display: block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
}

.services-card-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.services-card-text {
  margin-bottom: 1rem;
}

.findout-more-button {
  display: inline-block;
  margin: 1rem auto;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-inverted);
  cursor: pointer;
}

/* dev intro */
.dev-intro-wrap {
  max-width: 64rem;
  margin: 3rem auto;
}

.dev-intro-content {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-secondary);
  margin: auto;
}

.dev-intro-img-wrap {
  max-width: 22rem;
}

.dev-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  transition: opacity 0.5s ease-in-out;
}

.dev-intro-des-wrap {
  padding: 1.5rem 1rem;
}

.dev-intro-des {
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  margin-top: -5rem;
  border-radius: 1.25rem;
  background-color: var(--color-neutral);
}

.dev-intro-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.dev-intro-des-text-wrap {
  margin-bottom: 1rem;
}

.btn-inverted {
  background-color: var(--color-inverted);
  color: var(--color-neutral);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* know more section */
.know-more-cont {
  max-width: 64rem;
  margin: 5rem auto;
}

.know-more-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-primary);
}

.know-more-img-cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;
}

.know-more-img {
  display: block;
  border-radius: 1.25rem;
  margin-top: 1.5rem;
}

.know-more-des-cont {
  padding: 1rem 2rem;
  max-width: 42rem;
  text-align: center;
}

.know-more-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 0;
}

/* Contact header */
.contact-form-container {
  margin-top: 3rem auto;
}

.contact-form-title {
  margin: 1.5rem auto 0.5rem auto;
  text-align: center;
  padding: 1rem 0.5rem;
}

.contact-form-title h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

/* contact form */
.contact-form {
  margin: 0 auto;
}

.contact-form-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0 1rem;
}

.contact-form-description :first-child {
  margin-bottom: 1rem;
}

.contact-form-description :last-child {
  margin-bottom: 2rem;
}

.form-container {
  background-color: var(--color-secondary);
}

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 2.5rem 0;
}

.form-control {
  width: 100%;
}

.form-control label {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
}

.form-control label span {
  color: red;
}

.form-control input,
.form-control textarea {
  display: block;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form-control textarea {
  height: 200px;
  overflow: auto;
}

.btn-submit {
  border-radius: 0.25rem;
  background: var(--color-primary);
  color: var(--color-inverted);
  display: block;
  font-size: 1rem;
  padding: 10px;
  margin-top: 0.5rem;
  width: 100%;
  font-weight: 600;
  outline: none;
  border: none;
}

.btn-submit span {
  margin-left: 2px;
}

.btn-submit span img {
  position: relative;
  top: 4px;
}

/* footer */
.footer {
  text-align: center;
}

.footer-text-container {
  border-top: var(--color-secondary) solid 2px;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: auto;
}

.footer-text-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;
}

.footer-text-content {
  margin-top: 2rem;
}

.footer-text-content p {
  margin: 0;
}

.footer-text-content p a {
  color: var(--color-accent);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.social-media-container {
  margin: 1rem -1rem;
  text-align: center;
}

.social-media-wrapper {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-media-wrapper a {
  padding: 0.25rem;
  margin-right: 1rem;
}

.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-top: var(--color-secondary) solid 2px;
}

.copyright p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

/* responsive for desktop layouts */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .banner-text {
    font-size: 1rem;
  }

  .intro-container h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .intro-container p {
    font-size: 2.25rem;
  }

  .work-grid {
    margin-bottom: 2rem;
  }

  .work-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .work-section-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
  }

  .services-section-header-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
  }

  .contact-form-title h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .intro-container h1 {
    margin-bottom: 2.5rem;
    font-size: 4.25rem;
    line-height: 1;
  }

  .services-container {
    margin: 2rem auto;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .findout-more-button {
    margin: 2rem auto;
  }

  /* dev intro */
  .dev-intro-wrap {
    max-width: 64rem;
    margin: 0 auto;
  }

  .dev-img {
    border-radius: 1.25rem;
  }

  .dev-intro-content {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .dev-intro-des {
    position: static;
    padding: 2rem;
    margin-top: 0;
    text-align: left;
    max-width: 22rem;
  }

  .dev-intro-name {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  /* know more section */
  .know-more-cont {
    max-width: 64rem;
    margin: 7.5rem auto;
  }

  .know-more-wrap {
    flex: 1 1;
    flex-wrap: nowrap;
  }

  .know-more-img-cont {
    order: 9999;
    margin-right: 0;
    margin-left: 0;
  }

  .know-more-img-wrap {
    margin: 0;
  }

  .know-more-img {
    max-width: 32rem;
    border-radius: 1.25rem;
    margin-top: 0;
  }

  .know-more-des-cont {
    padding: 3rem 1.5rem;
    text-align: left;
    max-width: 28rem;
  }

  .know-more-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .contact-form-title h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .intro-container {
    width: 75%;
    text-align: center;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dev-intro-des {
    max-width: 42rem;
  }

  .know-more-img-cont {
    margin-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .know-more-des-cont {
    padding: 3rem;
    max-width: 42rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .intro-container {
    width: 66.666667%;
    margin-top: 10rem;
    margin-bottom: 11rem;
  }

  .mobile-menu-container {
    display: none;
  }

  .services {
    margin-bottom: 1rem;
  }

  .dev-intro-wrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* desktop navbar */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .desktop-navbar {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-neutral);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
  }

  .nav-brand {
    text-decoration: none;
    /* padding: 0.75rem 1.5rem; */
    margin-right: 0.5rem;
  }

  .nav-brand img {
    border-radius: 50%;
    position: relative;
    top: 0.25rem;
  }

  .nav-brand span {
    color: var(--color-inverted);
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    top: -0.8rem;
    margin-left: 0.75rem;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--color-inverted);
    padding: 0.75rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
  }

  .nav-links a:hover {
    background-color: var(--color-neutral-muted);
  }

  .btn-secondary {
    background-color: var(--color-neutral-muted);
  }

  .contact-container {
    width: 75%;
  }
}
