*:root {
  --color-primary: #6ce5b1;
  --color-secondary: #f3eeea;
  --color-accent: #ed8299;
  --color-highlight: #5e54c9;
  --color-inverted: #031926;
  --color-inverted-muted: #4d4d4d;
  --color-neutral: #ffffff;
  --color-neutral-muted: #fbf7f3;
  --color-code-1: #5e54c9;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

ol,
p,
ul {
  margin-bottom: 1rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
}

.btn:hover {
  transform: translate(0, -5px);
  transition: 0.2s ease-in-out;
  box-shadow: 0 12px 6px -6px silver;
}

a {
  text-decoration: none;
}

p {
  display: block;
}

/* mobile navbar */
.mobile-menu-container {
  background-color: #1f1f1f;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}

.mobile-menu {
  display: block;
}

nav.mobile-menu ul {
  visibility: hidden;
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 100;
  transform: translateY(10px);
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0.2em 0;
}

nav.mobile-menu ul li {
  margin: 15px 0;
  text-align: right;
}

nav.mobile-menu ul li a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

nav.mobile-menu .menu-button-black {
  background-color: #1f1f1f;
  border: 0;
  border-radius: 50%;
  padding: 0;
  outline: none;
  height: 57px;
  width: 57px;
  text-align: center;
  position: fixed;
  bottom: 14px;
  right: 14px;
  z-index: 100;
}

.line {
  background-color: #fff;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-container.open .circle {
  transform: translateX(50px) scale(9);
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-bottom {
  transform: translateY(-3px) rotate(-225deg);
  transform-origin: center;
}

.mobile-menu-container.open .mobile-menu .menu-button-black .line.line-top {
  transform: translateY(3px) rotate(225deg);
  transform-origin: center;
}

.mobile-menu-container .circle {
  background-color: #1f1f1f;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  z-index: 99;
  height: 55px;
  width: 55px;
  transition: all 0.3s ease-in-out;
  text-align: right;
}

.mobile-menu-container.open .mobile-menu ul {
  visibility: visible;
  transform: translateY(0);
}

.mobile-menu-container.open nav.mobile-menu ul li a {
  opacity: 1;
}

/* header */
.header {
  background: var(--color-neutral);
}

/* black lives matter banner */
.banner {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.highlight {
  text-decoration: none;
  color: var(--color-primary);
}

.highlight:hover {
  text-decoration: underline;
}

.banner-text {
  color: var(--color-neutral);
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.hand-svg {
  margin-left: 0.25rem;
}

/* desktop navbar */
.desktop-navbar {
  display: none;
}

/* thanks section */
.thanks-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.thanks-wrapper {
  padding: 3rem 1rem;
}

.thanks-wrapper h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thanks-wrapper p {
  color: var(--color-inverted);
  letter-spacing: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-home {
  cursor: pointer;
  display: inline-block;
  border: none;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0.5rem 0;
  background-color: var(--color-primary);
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* footer */
.footer {
  text-align: center;
}

.footer-text-container {
  border-top: var(--color-secondary) solid 2px;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: auto;
}

.footer-text-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0;
}

.footer-text-content {
  margin-top: 2rem;
}

.footer-text-content p {
  margin: 0;
}

.footer-text-content p a {
  color: var(--color-accent);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.social-media-container {
  margin: 1rem -1rem;
  text-align: center;
}

.social-media-wrapper {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-media-wrapper a {
  padding: 0.25rem;
  margin-right: 1rem;
}

.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  border-top: var(--color-secondary) solid 2px;
}

.copyright p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .banner-text {
    font-size: 1rem;
  }

  .contact-title {
    font-size: 4.25rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .thanks-wrapper h1 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .mobile-menu-container {
    display: none;
  }

  .btn-secondary {
    background-color: var(--color-neutral-muted);
  }

  /* desktop navbar */
  .desktop-navbar {
    display: block;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }

  .desktop-credential {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .desktop-credential-profile-pic {
    border-radius: 50%;
    cursor: pointer;
  }

  .desktop-credential-text {
    font-weight: 600;
    display: inline-block;
    position: relative;
    bottom: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .quick-links {
    text-decoration: none;
    color: var(--color-inverted);
    padding: 0.75rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
  }

  .quick-links:hover {
    background-color: var(--color-neutral-muted);
  }
}
