*:root {
  --color-primary: #6ce5b1;
  --color-secondary: #f3eeea;
  --color-accent: #ed8299;
  --color-highlight: #5e54c9;
  --color-inverted: #031926;
  --color-inverted-muted: #4d4d4d;
  --color-neutral: #ffffff;
  --color-neutral-muted: #fbf7f3;
  --color-code-1: #5e54c9;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-inverted);
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.025em;
}

.btn:hover {
  transform: translate(0, -5px);
  transition: 0.2s ease-in-out;
  box-shadow: 0 12px 6px -6px silver;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* header */
.header {
  background: var(--color-neutral);
}

.intro-container {
  margin: 5rem auto;
  text-align: center;
  padding: 1rem;
}

.intro-sub-heading {
  font-size: 1.25rem;
  margin: 1rem 0;
  font-weight: 600;
}

.intro-heading {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-inverted);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* black lives matter banner */
.banner {
  background-color: black;
  display: block;
  margin: 0;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.highlight {
  text-decoration: none;
  color: var(--color-primary);
}

.highlight:hover {
  text-decoration: underline;
}

.banner-text {
  color: var(--color-neutral);
  font-weight: 600;
}

.hand-svg {
  margin-left: 0.25rem;
}

/* desktop navbar */
.desktop-navbar {
  display: none;
}

/* projects slideshow in iphone frame */
.projects-container {
  text-align: center;
}

.projects-header {
  text-align: center;
}

.projects-title {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.project {
  margin-bottom: 3rem;
}

.project-container {
  max-width: 64rem;
  margin: 2rem auto;
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  border-radius: 1.25rem;
  flex-wrap: wrap;
  margin: auto;
}

.project-img-1 {
  max-width: 12rem;
}

.project-1 {
  background-color: #dd62ff;
}

.project-2 {
  background-color: #f1c63c;
}

.project-img-wrapper {
  max-width: 32rem;
}

.project-img {
  border-radius: 1.25rem;
}

.project-des-container {
  max-width: 32rem;
  margin: 1rem;
}

.project-des-wrapper {
  background-color: var(--color-neutral);
  border-radius: 1.25rem;
  padding: 1rem;
}

.project-des-title {
  font-size: 1.875rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-des-text {
  color: var(--color-inverted-muted);
}

.btn-project {
  background-color: black;
  color: white;
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

.github-svg {
  margin: 0 0.5rem;
}

.projects-button {
  margin: 1rem auto;
}

.other-projects-button {
  color: var(--color-inverted);
  margin: 1rem auto;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.right-arrow {
  position: relative;
  top: 0.15rem;
}

/* bottom navbar for mobile layout */
.mobile-navbar-container {
  position: fixed;
  bottom: 0;
  right: 1rem;
  left: 1rem;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-navbar {
  background: var(--color-secondary);
  margin: 1rem auto;
  border-radius: 1.5rem;
  max-width: 600px;
}

.mobile-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.25rem;
}

.nav-item {
  text-decoration: none;
}

.nav-items:hover {
  text-decoration: underline;
}

.nav-item span {
  display: block;
  font-size: 0.75rem;
  color: var(--color-inverted);
  font-weight: 500;
}

.nav-items {
  margin: 0.25rem 0;
}

/* custom scroll bar */
body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-neutral); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* color of the scroll thumb */
}

/* main navbar of the page for mobile layouts */
.main-nav-header-title {
  margin: 1.5rem 1rem;
  display: flex;
  align-items: center;
}

.close-menu-button {
  background-color: transparent;
  background-image: none;
  margin-left: 0.5rem;
  outline-color: black;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
}

.main-nav-close-text {
  margin-left: 1rem;
  position: relative;
  bottom: 0.1rem;
}

.main-nav-credential {
  margin: 0.5rem 0.5rem 1rem 1rem;
}

.website-developer {
  margin: 0 0 0 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  top: 6rem;
}

.main-navbar {
  background: var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  max-width: 350px;
  z-index: 10000;
}

.main-nav {
  max-width: 300px;
  margin: auto;
}

.main-nav-profile-pic {
  border-radius: 50%;
}

.main-nav-ulist {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  list-style-type: none;
}

.main-nav-items-svg {
  margin: 0 0.5rem;
}

.main-nav-item {
  display: inline-block;
  text-align: -webkit-match-parent;
}

.main-nav-items-a {
  position: relative;
  bottom: 0.35rem;
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-inverted);
  padding: 0.75rem;
  font-weight: 600;
}

.social-media {
  margin: 2rem 0 2rem 1.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* transform property for main navbar */
.open {
  transform: translateX(0%);
}

.close {
  transform: translateX(-100%);
}

/* services offered section */
.services {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.services-section-header {
  text-align: center;
}

.services-section-header-title {
  margin-bottom: 3rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.services-card-wrapper {
  display: grid;
  grid-row-gap: 4rem;
  row-gap: 4rem;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.services-card-each {
  display: flex;
}

.services-card-svg-wrapper {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.services-card-svg-bg {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  border-radius: 1.25rem;
  background-color: var(--color-neutral-muted);
  height: 4rem;
  width: 4rem;
}

.services-card-text-wrapper {
  display: block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  text-align: left;
}

.services-card-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.services-card-text {
  margin-bottom: 1rem;
}

.findout-more-button {
  display: inline-block;
  margin: 0.5rem 0;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-inverted);
  cursor: pointer;
}

/* dev intro */
.dev-intro-wrap {
  max-width: 64rem;
  margin: 2rem auto;
}

.dev-intro-content {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-secondary);
  margin: auto;
}

.dev-intro-img-wrap {
  max-width: 22rem;
}

.dev-img {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  transition: opacity 0.5s ease-in-out;
}

.dev-intro-des-wrap {
  padding: 1.5rem 1rem;
}

.dev-intro-des {
  z-index: 10;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  margin-top: -5rem;
  border-radius: 1.25rem;
  background-color: var(--color-neutral);
}

.dev-intro-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.dev-intro-des-text-wrap {
  margin-bottom: 1rem;
}

.btn-inverted {
  background-color: var(--color-inverted);
  color: var(--color-neutral);
  border-radius: 0.75rem;
  padding: 0.75rem 2rem;
}

/* know more section */
.know-more-cont {
  max-width: 64rem;
  margin: 4rem auto;
}

.know-more-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: var(--color-primary);
}

.know-more-img-cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 22rem;
}

.know-more-img {
  display: block;
  border-radius: 1.25rem;
  margin-top: 1.5rem;
}

.know-more-des-cont {
  padding: 1rem 2rem;
  max-width: 42rem;
  text-align: center;
}

.know-more-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 0;
}

/* footer */
.footer {
  height: 10rem;
}

/* responsive for desktop layouts */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .banner-text {
    font-size: 1rem;
  }

  .intro-heading {
    font-size: 4.25rem;
    line-height: 1;
  }

  .projects-title,
  .services-section-header-title {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .intro-heading {
    font-size: 4.25rem;
    margin-bottom: 2.5rem;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* projects section */
  .project-des-wrapper {
    text-align: left;
  }

  .project-wrapper {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .project-des-title {
    font-size: 2.5rem;
  }

  .project-des-wrapper {
    padding: 2rem;
  }

  .flex-order {
    order: 10000;
  }

  /* dev intro */
  .dev-intro-wrap {
    max-width: 64rem;
    margin: 2rem auto;
  }

  .dev-img {
    border-radius: 1.25rem;
  }

  .dev-intro-content {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .dev-intro-des {
    position: static;
    padding: 2rem;
    margin-top: 0;
    text-align: left;
    max-width: 22rem;
  }

  .dev-intro-name {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  /* know more section */
  .know-more-cont {
    max-width: 64rem;
    margin: 4rem auto;
  }

  .know-more-wrap {
    flex: 1 1;
    flex-wrap: nowrap;
  }

  .know-more-img-cont {
    order: 9999;
    margin-right: 0;
    margin-left: 0;
  }

  .know-more-img-wrap {
    margin: 0;
  }

  .know-more-img {
    max-width: 32rem;
    border-radius: 1.25rem;
    margin-top: 0;
  }

  .know-more-des-cont {
    padding: 3rem 1.5rem;
    text-align: left;
    max-width: 28rem;
  }

  .know-more-title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .intro-container {
    width: 75%;
  }

  .services-card-wrapper {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .dev-intro-des {
    max-width: 42rem;
  }

  .know-more-img-cont {
    margin-right: 0;
    margin-left: 0;
    align-self: center;
  }

  .know-more-des-cont {
    padding: 3rem;
    max-width: 42rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .intro-container {
    margin: 10rem auto;
  }

  .mobile-navbar-container {
    display: none;
  }

  .btn-secondary {
    background-color: var(--color-neutral-muted);
  }

  .services {
    margin-bottom: 5rem;
  }

  /* desktop navbar */
  .desktop-navbar {
    display: block;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }

  .desktop-credential {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .desktop-credential-profile-pic {
    border-radius: 50%;
  }

  .desktop-credential-text {
    font-weight: 600;
    display: inline-block;
    position: relative;
    bottom: 1rem;
    margin-left: 0.5rem;
  }

  .quick-links {
    text-decoration: none;
    color: var(--color-inverted);
    padding: 0.75rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
  }

  .quick-links:hover {
    background-color: var(--color-neutral-muted);
  }
}
